logs
project/project
project/target
target
tmp
.history
dist
/.idea
.idea
/*.iml
/out
/public/css/*.css
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
nohup.out
bundle.js
bundle.js.map
bundle
npm-debug.log
